<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Goods Page</h1>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="g:${goods}">
				<td th:text="${g.id}"></td>
				<td th:text="${g.name}"></td>
				<td th:text="${g.remark}"></td>
				<td th:text="${#dates.format(g.createdTime,'yyyy/MM/dd HH:mm:ss')}"></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td>1,2,3,4,6,5</td>
			</tr>
		</tfoot>
	</table>
</body>
</html>